html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background-color: #ddd;
}

.container {
    margin: auto;
    max-width: 1200px;
    padding: 20px;
}

.form {
    background-color: #fff;
    margin: auto;
    max-width: 1200px;
    margin: 2px 0;
    padding: 10px;
}
.form_header{

}

.form__field {
    display: flex; 
   align-items: center;
   justify-content:space-between;
    

    /* width: 100%; */
    margin-right: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    
}

.form__button {
    display: flex;
    align-items: center;
    background-color: teal;
    color: #fff;
    padding: 10px;
    border: none;
    width: 25%;
    margin: 10px;
    float: right;
    }
.flex__item{
    margin: 2px 0;
}

.tasks__item {
    background: #b8cfcf;
    display: grid;
    grid-template-columns: auto 1fr auto;
    /* grid-gap: 10px; */
    /* align-items: center; */
    padding: 10px;
    /* list-style-type: none; */
    border-bottom: 2px solid #ddd;
    text-align: right;
    
}

.tasks__item--done {
    text-decoration: line-through;
}

.tasks__button {
    border: none;
    height: 30px;
    width: 30px;
    text-align: center;

}

.tasks__button--done {
    background-color: #4CAF50;
}

.tasks__button--remove {
    background-color: red;
}